@page "/help"
@using System.Reflection
<div>
    <h1>Help</h1>
    <MudDivider/>
    <MudText Typo="Typo.h6">@("Version : " + Assembly.GetExecutingAssembly().GetName().Version?.ToString(3))</MudText>
    <MudText Typo="Typo.h6">
        Project Site : <a style="color: aqua" href="https://github.com/charles7668/VNGT">@("Github")</a>
    </MudText>
    <MudButton OnClick="OnExportLogClick"
               Variant="Variant.Outlined"
               Class="ma-0" Color="Color.Primary">
        @Resources.HelpPage_ExportLog
    </MudButton>
    <MudButton OnClick="OnBackupSettingsClick"
               Variant="Variant.Outlined"
               Class="ma-0" Color="Color.Primary">
        Backup Settings
    </MudButton>
    <MudButton OnClick="OnRestoreSettingsClick"
               Variant="Variant.Outlined"
               Class="ma-0" Color="Color.Primary">
        Restore Settings
    </MudButton>
</div>