.main-container {
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}

#game-detail-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-y: auto;
}

.inactive {
    visibility: hidden;
}

#list-mode-container {
    height: 100%;
    width: 100%;
}

#list-mode-container > .list-mode-list-container {
    width: 300px;
    height: 100%;
    background-color: #171d25;
    resize: horizontal;
}

#list-mode-container > .list-mode-list-container > .list-mode-game-name-list {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#list-mode-container > .list-mode-list-container > .list-mode-game-name-list ::deep .mud-menu {
    width: 100%;
    height: 100%;
}

#list-mode-container > .list-mode-list-container > .list-mode-game-name-list ::deep .mud-list-item-text {
    margin-top: 0;
    margin-bottom: 0;
}
    
#list-mode-container > .list-mode-detail {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

#list-mode-container > .list-mode-list-container .mud-input {
    width: 95%;
}