@page "/"

<MudLayout Class="main-mud-layout">
    <ActionBar id="main-toolbar" Class="@("main-toolbar mb-0")"
               OnDeleteEvent="OnDelete"
               AddNewGameEvent="AddNewGame"
               OnRefreshEvent="OnRefreshClick"
               OnSortByChangeEvent="OnSortByChange"
               SearchEvent="OnSearchInfo">
    </ActionBar>
    <MudToolBar Class="mt-0">
        <MudCheckBox T="bool" ValueChanged="OnSelectionModeChange" Class="ml-2 mr-2">Selection Mode</MudCheckBox>
        <MudButton OnClick="OnSelectAllClick" Variant="Variant.Outlined">Select All</MudButton>
    </MudToolBar>
    <div id="card-list">
        @if (ViewGameInfos.Count > 0)
        {
            <Virtualize @ref="VirtualizeComponent"
                        ItemsProvider="CardItemProvider"
                        ItemSize="CardListRowCount"
                        OverscanCount="10"
                        Context="rowViewInfo">
                <MudStack Row="true">
                    @foreach (var viewInfo in rowViewInfo)
                    {
                        <Card OnClick="_ => OnCardClick(viewInfo)"
                              IsSelected="@(viewInfo is { Display: true, IsSelected: true } && IsSelectionMode)"
                              GameInfo="viewInfo.Info"
                              Class="@(viewInfo.Display ? "card" : "card card-hidden")"
                              OnDeleteEventCallback="DeleteGameCard">
                        </Card>
                    }
                </MudStack>
            </Virtualize>
        }
    </div>
</MudLayout>

<style>
    .main-mud-layout {
        padding: 0px;
    }

        .main-mud-layout > #card-list {
            max-width: 100%;
            min-width: 100%;
            padding-left: 15px;
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            overflow-y: auto;
        }

    main-mud-layout > #card-list .mud-stack {
        max-width: 100%;
        min-width: 100%;
    }

    #main-toolbar {
        position: sticky;
        top: 0;
        margin-bottom: 20px;
        margin-top: 0px;
        z-index: 999;
    }

    .card {
        margin: 5px;
    }

        .card.card-hidden {
            display: none;
        }
</style>