@page "/library"

<div class="d-flex flex-column">
    <MudToolBar>
        <MudSpacer/>
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add">Add Folder</MudButton>
    </MudToolBar>
    <MudDivider/>
    <MudPaper class="flex-grow-1">
        <MudList T="string">
        </MudList>
    </MudPaper>
</div>