div ::deep .mud-form {
    height: 100vh;
}

div ::deep .setting-box {
    height: 100%;
    overflow-y: auto;
}

div ::deep .list-container {
    width: 50%;
}

    div ::deep .list-container .selected {
        background-color: #1E88E5 !important;
    }

        div ::deep .list-container .selected > td {
            color: white !important;
        }

            div ::deep .list-container .selected > td .mud-input {
                color: white !important;
            }
