@page "/tagset"

<div id="tag-set">
    <MudStack id="tag-set-stack">
        <h1 class="flex-grow-0">@Resources.TagSetPage_Title</h1>
        <MudTextField T="string" Placeholder="Filter" Variant="Variant.Outlined"
                      ValueChanged="OnFilterValueChanged">
        </MudTextField>
        <MudDivider Class="flex-grow-0"/>
        <div class="scrollable flex-grow-1">
            <MudStack Row="true" Wrap="Wrap.Wrap" Spacing="2">
                @foreach (string tag in Tags)
                {
                    <MudChip T="string"
                             Variant="Variant.Filled"
                             Color="Color.Primary"
                             OnClick="_ => { OnChipClick(tag); }">
                        @tag
                    </MudChip>
                }
            </MudStack>
        </div>
    </MudStack>
</div>