@page "/tools"

<div>
    <h1>Tools</h1>
    <MudDivider />
    <MudGrid Class="pa-0 ma-0 tools-grid">
        <MudItem>
            <MudButton OnClick="OnPatcherClick">
                <MudStack Row="false" Class="box-item" Spacing="0" AlignItems="AlignItems.Center">
                    <MudIcon Icon="@Icons.Material.Filled.Apps" Size="Size.Large" />
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        Save Patcher
                    </MudText>
                </MudStack>
            </MudButton>
        </MudItem>
    </MudGrid>
</div>