<div>
    <MudNavMenu>
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.GridView" Href="/">Game</MudNavLink>
        <MudDivider />
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Folder" Href="/library">Library</MudNavLink>
        <MudSpacer />
        <MudNavLink Class="d-flex align-center" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings" Href="/setting">Settings</MudNavLink>
    </MudNavMenu>
</div>