div, div ::deep nav {
    height: 100vh;
    min-height: 100vh;
}

    div ::deep nav {
        display: flex;
        flex-direction: column;
    }

    div ::deep .mud-spacer {
        flex-grow: 1;
        flex-shrink: 1;
    }

    div ::deep .mud-divider {
        flex-grow: 0;
    }

    div ::deep .mud-nav-link {
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 5px;
        align-items: center;
    }

        div ::deep .mud-nav-link .mud-nav-link-text {
            font-size: 24px;
        }
