div {
    max-width: 230px;
    height: 470px;
    max-height: 470px;
}

div ::deep .card-star {
    position: absolute;
    left: 0;
    top: 0;
}

div ::deep .card-star.marked {
    color: yellow;
}

div ::deep .card-sync {
    position: absolute;
    right: 0;
    top: 0;
    color: green;
}

div ::deep .card.selection {
    border-width: 3px;
    border-color: red;
}

div ::deep .card .mud-tooltip-inline {
    display: block;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

div ::deep .mud-tooltip-root {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

div ::deep .card-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}