div ::deep .card.selection {
    border-width: 3px;
    border-color: red;
}

div ::deep .card .mud-tooltip-inline {
    display: block;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

div ::deep .card-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}
