#game-detail-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tool-bar {
    display: flex;
    flex-direction: row;
}

#game-detail-screenshots ::deep .game-detail-screenshots-btn {
    padding: 5px;
    margin-bottom: 15px;
}

.image-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    min-height: 500px;
    align-content: flex-start;
    width: 100%;
}

.image-container > img {
    width: 300px;
    height: 225px;
    flex-shrink: 0;
}

.image-container.selected {
    border: 2px solid #007bff;
} 