<div id="game-detail-screenshots">
    <div class="tool-bar">
        <MudButton Class="game-detail-screenshots-btn"
                   Variant="Variant.Outlined"
                   OnClick="UpdateBackgroundImage">
            Set As Default Background Image
        </MudButton>
        <MudButton Class="game-detail-screenshots-btn"
                   Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="AddScreenshotsByUrl">
            Add image urls
        </MudButton>
        <MudSpacer/>
        <MudButton Class="game-detail-screenshots-btn"
                   Variant="Variant.Outlined"
                   Color="Color.Error"
                   OnClick="RemoveScreenshot">
            Delete
        </MudButton>
    </div>
    @if (IsLoading)
    {
        <div class="justify-center align-center d-flex">
            <MudProgressCircular Color="Color.Primary"
                                 Indeterminate="true"
                                 Style="width:300px; height: 300px; ">
            </MudProgressCircular>
        </div>
    }
    else
    {
        <div class="image-list-container">
            @foreach (ScreenShotViewModel screenShot in GameInfoVo.ScreenShots)
            {
                <div class="@(GetImageContainerClass(screenShot))" onclick="@(() => OnImageClick(screenShot))">
                    <img src="@screenShot.Display" onerror="this.style.display='none';"
                         alt="screenshot"/>
                </div>
            }
        </div>
    }
</div>