<MudDialog>
    <DialogContent>
        <div>
            <MudText>@ProgressText</MudText>
            <MudProgressLinear Color="Color.Primary"
                               Value="@_progressValue"
                               Indeterminate="!IsDeterminateProgress" Class="my-7"/>
        </div>
    </DialogContent>
</MudDialog>