<MudDialog>
    <DialogContent>
        <div>
            <MudText>@ProgressText</MudText>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7"/>
        </div>
    </DialogContent>
</MudDialog>